---
title: About Us
permalink: /microgreens/
layout: default
greens:
  -
    name: Arugula
    id: arugula
    fact: Arugula is great in salads!
  -
    name: Beet
    id: beet
    fact: Can't beat that choice!
  -
    name: Broccoli
    id: broccoli
    fact: Broccoleeeeeeeee
  -
    name: Cilantro
    id: cilantro
    fact: Taco time!
  -
    name: Kale
    id: kale
    fact: Kale yeah!
  -
    name: Kohlrabi
    id: kohlrabi
    fact: Chock full of vitamin C!
  -
    name: Mustard
    id: mustard
    fact: Gets that digestion on track.
  -
    name: Pea Tendril
    id: pea
    fact: Mmmmmmm potassium
  -
    name: Radish
    id: radish
    fact: Quite fiber-ous
  -
    name: Swiss Chard
    id: chard
    fact: Did someone say magnesi-YUM?
---
<form action="https://formsubmit.co/micros@volkman.farm" method="post">
  <p>Hey there!</p>
  <p>We really love our microgreens, and would love to share that love with you. All microgreens are packed with nutrients and health benefits, so you can't really choose wrong.</p>
  <p>Which of our microgreens would you like to learn more about?</p>
  <p>
    <select id="greens" name="green" required>
      {% for green in greens %}
      <option value="{{ green.id }}">{{ green.name }}</option>
      {% endfor %}
    </select>
  </p>
  <div id="step2" style="display:none">
    <p>Excellent choice! <span id="fact"></span></p>
    <p>We'd love to share more with you! We're happy to set up an order for you, or just to chat about all the wondeful health benefits that await you. Would you mind sharing your email?</p>
    <p>
      <input id="consent" type="checkbox">
      <label for="consent">It's cool that we send you some email</label>
    </p>
    <p id="step3" style="display:none">
      <input id="email" name="email" type="text" placeholder="crazy@about.microgreens">
    </p>
    <p>
      <input type="submit" value="Let's chat"></input>
    </p>
  </div>
</form>

<script>
  const greens = [{%- for green in greens -%}{ id: "{{ green.id }}", name: "{{ green.name }}", fact: "{{ green.fact }}" },{%- endfor -%}];

  document.getElementById('greens').addEventListener('change', e => {
    const green = greens.find(g => g.id == e.target.value);
    document.getElementById('fact').innerText = green.fact;
    document.getElementById('step2').style.display = 'block';
  });

  document.getElementById('consent').addEventListener('change', e => {
    document.getElementById('step3').style.display = e.target.checked ? 'block' : 'none';
  });
</script>
